body {
background-image: url('./images/rm-bg.jpg');
/*background-size: 20vh;*/
background-color: darkblue;
background-position: top;
background-attachment: scroll;
margin: 80px;
left: 30px;
border: 10px dashed rgb(6, 185, 176);
}
